.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.nameContainer {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.description {
  text-align: center;
  margin-top: 48px;
}

.descriptionTitle {
  margin-bottom: 12px;
  color: #3366ff;
  font-size: 20px;
  font-weight: 700;
}