.projectSection {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  flex-shrink: 0;
  width: calc(100vw - 30rem);
  height: calc(100vh - 18rem);
  padding: 9rem 15rem;
}

.projectNumber {
  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 7.5rem;
  font-size: 10rem;
  font-weight: 900;
}

.projectImage {
  width: 55%;
  height: 100%;
  object-fit: contain;
  background-color: #fff;
  border-radius: 1rem;
}

.projectContent {
  width: calc(45% - 3rem);
  display: flex;
  flex-direction: column;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1.5rem;
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.projectLink {
  width: 2rem;
  height: 2rem;
}

.projectLinkIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.projectAward {
  line-height: 1.25rem;
  font-size: 1.25rem;
  color: #333;
}

.projectSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.25rem 0 3rem 0;
  padding: 0;
  color: #333;
} 

.projectDescription {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

.projectFooter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 1rem;
}

.projectInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: #666;
}

.projectStack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.projectStackIcon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  background-color: #fff;
  border-radius: 0.5rem;
}

.projectMore {
  width: 3rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projectMore:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.iconWrapper {
  position: relative;
  display: inline-block;
}

.iconLabel {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.iconWrapper:hover .iconLabel {
  opacity: 1;
  visibility: visible;
}

