.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.projectList {
  width: 300%;
  display: flex;
  flex-direction: row;
  transition: transform 0.7s ease-in-out;
  position: relative;
}

.prevNavigationButton {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%) scaleY(2);
  font-size: 3rem;
}

.nextNavigationButton {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 10rem;
  transform: translateY(-50%) scaleY(2);
  font-size: 3rem;
}

.prevNavigationButton:hover,
.nextNavigationButton:hover {
  cursor: pointer;
}