.container {
  display: flex;
  flex-direction: column;
  gap: 128px;
  margin-top: 32px;
}

.title {
  margin-bottom: 24px;
}

.nameContainer {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-top: 48px;
}

.descriptionTitle {
  margin-bottom: 12px;
  color: #3366ff;
  font-size: 20px;
  font-weight: 700;
}

.skills {
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 9999px;
}

.skillIcon {
  width: 24px;
  height: 24px;
}

.projects {
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}