.container {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin-top: 64px;
}

.title {
  margin-bottom: 24px;
}

.nameContainer {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-top: 48px;
}

.descriptionTitle {
  margin-bottom: 12px;
  color: #3366ff;
  font-size: 20px;
  font-weight: 700;
}

.skills {}

.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.projects {}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}